/* 

This CSS file is the primary source of style choices for the new oxfordsu.org, as of late 2022.

It originates from a CSS file provided by MSL, as they created a bespoke design for Oxford SU at the 
time of the new website launch.

As of 13 December 2022, when this file was first added to the SU's Github account, the contents had been 
significantly changed by SU staff and by Andrew Keenan.

Changes to this file are not reflected live on oxfordsu.org; the CSS must be managed via the MSL backend.

Known issues as of January 2023:

- The overall file is very long and repetitive, with lots of overridden and redundant code
- Styles for specific elements are dispersed widely
- Overall, the whole file needs significant commenting and refactoring to remain clear and manageable.

*/

/* Font definitions */

@font-face {
  font-family: "Calibre Semibold";
  src: url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__Calibre-Semibold.eot"); /* IE9 Compat Modes */
  src: url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__Calibre-Semibold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__Calibre-Semibold.woff")
      format("woff"),
    /* Modern Browsers */
      url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__Calibre-Semibold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__Calibre-Semibold.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Calibre Regular";

  src: url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__Calibre-Regular.eot"); /* IE9 Compat Modes */

  src: url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__Calibre-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__Calibre-Regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__Calibre-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__Calibre-Regular.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "GraebenbachMono Regular";

  src: url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__GraebenbachMono-Regular.eot"); /* IE9 Compat Modes */

  src: url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__GraebenbachMono-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__GraebenbachMono-Regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__GraebenbachMono-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__GraebenbachMono-Regular.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "GraebenbachMono Black";
  src: url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__GraebenbachMono-Black.eot"); /* IE9 Compat Modes */
  src: url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__GraebenbachMono-Black.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__GraebenbachMono-Black.woff")
      format("woff"),
    /* Modern Browsers */
      url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__GraebenbachMono-Black.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("https://oxford-dev.ukmsl.net/assets/site_resources/AnyConv.com__GraebenbachMono-Black.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

/* Variables */

/* This is where some of the site-wide brand colours are defined. */

:root {
  --light-green: #33d2c1;
  --dark-green: #00c7b2;
  --yellow: #fed533;
  --magenta: #f0698e;
  --dark-magenta: #ee4473;
  --offwhite: #f3f3f4;
}

body {
  background: var(--light-green);
  font-family: "Calibre Regular";
  overflow-x: hidden;
}

body .page_admin,
body .page_edit {
  background: #fff;
}

.list_controls a {
  height: 10.6em;
}

img {
  height: auto;
  border-radius: 8px;
  display: block;
}

.inverted {
  filter: invert(1);
}

/* Fonts */

p {
  font-size: 1.2rem;
}

h1,
h3,
h4,
h5,
h6 {
  margin: 20px 0 15px;
}

h1,
h2,
h3,
h6 {
  font-family: "GraebenbachMono Black";
  text-transform: uppercase !important;
}

h1,
.banner h3.msl-title a {
  color: var(--yellow);
}

.h2,
h2 {
  font-size: calc(1.325rem + 1.5vw);
}

h4 {
  color: var(--magenta);
}

h4,
h5 {
  font-family: "Calibre Semibold";
  text-transform: uppercase !important;
}

.subtitle {
  color: var(--magenta);
  font-size: 1.2rem;
  font-family: "Calibre Semibold";
  font-weight: 700;
  text-transform: uppercase !important;
}

.subHeading {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Calibre Semibold";
}

.footerHeading {
  font-family: "GraebenbachMono Black";
  text-transform: uppercase !important;
  color: var(--yellow);
  font-size: 1.4rem;
}

.beforeH2 {
  font-family: "Calibre Semibold";
  text-transform: uppercase !important;
  color: var(--magenta);
}

@media (min-width: 1200px) {
  .h1,
  h1 {
    font-size: 5rem;
  }
  .h2,
  h2 {
    font-size: 3rem;
  }
}

/* content */
p a,
#search-results dt a {
  color: var(--magenta);
  text-decoration: underline !important;
}

p a:hover,
footer a:hover,
#search-results dt a:hover {
  color: white;
  background: var(--magenta);
  text-decoration: none !important;
}

.sectionContent ul {
  list-style: none;
}

/* This seems to define the green dot on lists */
/* .sectionContent ul li:before {
  content: "\2022";
  color: var(--light-green);
  font-weight: bold;
  display: inline-block;
  width: 0.7em;
  margin-left: -0.5em;
  font-size: 1.5rem;
} */

.sectionContent #admin_page_content ul li:before,
.sectionContent .sidecol ul li:before,
.page_edit li:before,
.item .imageNav ul li:before {
  display: none !important;
}

.sectionContent ol {
  list-style: none;
  counter-reset: li;
  font-size: 1.2rem;
}

.sectionContent ol li:before {
  content: counter(li);
  color: var(--light-green);
  display: inline-block;
  font-weight: bold;
  width: 1em;
  margin-left: -1em;
}

.sectionContent ol li {
  counter-increment: li;
}

/* Colours */
.white {
  color: #fff;
}
.magenta {
  color: var(--magenta);
}
.magentaBg {
  background: var(--magenta);
}
.offWhiteBg {
  background: var(--offwhite);
}

/* Margins */
.margin50 {
  margin: 50px auto;
}

/* Buttons */
.buttonCTA,
.button {
  background: #f0698e !important;
  padding: 7px 20px !important;
  color: white !important;
  border: 2px solid #000 !important;
  display: inline-block !important;
  vertical-align: middle !important;
  user-select: none !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
  text-align: left;
  border-radius: 0;
  box-shadow: 4px 4px black;
  margin-top: 20px;
  text-decoration: none !important;
}

.buttonCTA i {
  margin: 0 0 0 14px;
  position: relative;
  top: 1px;
}

.buttonCTA:hover,
.buttonCTA:focus,
.buttonCTA:active,
.button:hover,
.button:focus,
.button:active {
  background-color: var(--magenta) !important;
  color: black;
  box-shadow: 0px 0px var(--light-green);
  transform: translateX(5px) translateY(2px);
}

/* Slick */
.banner .slick-dots li {
  width: 21px;
}

.banner .slick-dots li button {
  width: 12px;
  height: 12px;
  background: #000;
}

.banner .slick-dots li button:before {
  font-family: "slick";
  width: 12px;
  height: 12px;
  border: 2px solid #000;
}

.banner .slick-dots li.slick-active button:before {
  background: var(--magenta) !important ;
}

.banner .slick-dots li button:hover {
  background: var(--magenta);
  transform: scale(1);
}

/* Image Nav */
.imageNav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.imageNav li {
  margin: 10px 0;
  background: white;
  border-radius: 10px;
  width: 100%;
  box-shadow: 6px 7px 9px 0 rgb(0 0 0 / 15%);
}

.imageNav li a {
  text-decoration: none;
}
.imageNav li img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.imageNav li .details {
  padding: 20px;
  color: var(--magenta);
}

.imageNav li .msl-imagenav-title {
  font-family: "GraebenbachMono Black";
  text-transform: uppercase !important;
  display: block;
  font-size: 1.35rem;
  color: #000;
}

@media (min-width: 500px) {
  .imageNav li {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 2 - 18px);
    max-width: calc(100% / 2 - 18px);
    margin: 0 15px 20px 0;
  }
}

@media (min-width: 769px) {
  .imageNav:not(.twoCols) li {
    width: calc(100% / 4 - 20px);
    max-width: calc(100% / 4 - 20px);
    margin: 0 10px 20px;
  }
}

@media (min-width: 1200px) {
  .imageNav.sixCols li {
    width: calc(100% / 6 - 20px);
    max-width: calc(100% / 6 - 20px);
  }
}

/* torn Paper */
.tornPaper {
  position: relative;
  padding: 40px 0;
}

.tornPaper:before {
  content: "";
  background: url(https://oxford-dev.ukmsl.net/stylesheet/Oxford22/tornpaperPi.svg);
  position: absolute;
  top: -48px;
  width: 100vw;
  height: 50px;
  background-position: bottom;
  background-repeat-y: no-repeat;
}

.tornPaper.tornWhite {
  background: var(--offwhite);
}

.tornPaper.tornBlue:before {
  background: url(https://oxford-dev.ukmsl.net/stylesheet/Oxford22/tornpaperBlue.svg);
  background-position: bottom;
  background-repeat-y: no-repeat;
}

.tornPaper.tornWhite:before {
  background: url(https://oxford-dev.ukmsl.net/stylesheet/Oxford22/tornpaperw.svg);
  background-position: bottom;
  background-repeat-y: no-repeat;
}

/* News navigation */
.newsNavigation,
.eventsNavigation {
  margin: 50px 0;
}
.secNavStyle {
  margin: 50px 0 100px;
}

.newsNavigation .msl-item,
.news_full .news_item,
.search_events .event,
.search_news .news_item,
.eventsNavigation .event_item,
.secNavStyle li {
  margin: 15px 0;
  box-shadow: 6px 7px 9px 0 rgb(0 0 0 / 15%);
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.newsNavigation .msl-item:hover,
.news_full .news_item:hover,
.search_events .event:hover,
.search_news .news_item:hover,
.secNavStyle li:hover,
.eventsNavigation .event_item:hover {
  background: var(--offwhite);
}

.newsNavigation .msl-item a,
.news_full .news_item h5 a,
.search_news .news_item h5 a,
.search_events .event a,
.eventsNavigation .event_item a,
.secNavStyle li a {
  text-decoration: none;
  color: var(--light-green);
}

.secNavStyle li a,
.news_full .news_item h5 a,
.search_news .news_item h5 a,
.search_events .event a,
.eventsNavigation .event_item a {
  font-family: "GraebenbachMono Black";
  text-transform: uppercase !important;
  margin: 5px 0 10px;
  display: block;
  font-size: calc(1.3rem + 0.6vw);
}

.secNavStyle ul {
  padding: 0;
  margin: 0;
}

.news_all,
.news_full .news_item .news_item_hook,
.news_full .news_item .news_image {
  display: none;
}

@media (min-width: 600px) {
  .newsNavigation .msl-news,
  .news_full,
  .eventsNavigation .msl_eventlist > div,
  .secNavStyle ul {
    display: flex;
    flex-wrap: wrap;
  }

  .newsNavigation .msl-item,
  .news_full .news_item,
  .eventsNavigation .event_item,
  .secNavStyle li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 20px 0;
    width: calc(100% / 2 - 53px);
    max-width: calc(100% / 2 - 53px);
    flex-grow: 1;
  }

  .newsNavigation .msl-item:nth-child(even),
  .news_full .news_item:nth-child(even),
  .eventsNavigation .event_item:nth-child(even),
  .secNavStyle li:nth-child(even) {
    margin: 0 30px 20px;
  }
}

@media (min-width: 992px) {
  .newsNavigation .msl-item,
  .news_full .news_item,
  .eventsNavigation .event_item,
  .secNavStyle li {
    margin-bottom: 40px;
    width: calc(100% / 3 - 53px);
    max-width: calc(100% / 3 - 53px);
  }

  .newsNavigation .msl-item:nth-child(even),
  .news_full .news_item:nth-child(even),
  .eventsNavigation .event_item:nth-child(even),
  .secNavStyle li:nth-child(even) {
    margin: 0 0 40px 0;
  }

  .newsNavigation .msl-item:nth-child(2),
  .newsNavigation .msl-item:nth-child(5),
  .news_full .news_item:nth-child(3n-6),
  .eventsNavigation .event_item:nth-child(2),
  .eventsNavigation .event_item:nth-child(5),
  .secNavStyle li:nth-child(2),
  .secNavStyle li:nth-child(5) {
    margin: 0 50px 40px;
  }
}

@media (min-width: 1200px) {
  .secNavStyle li a {
    font-size: 1.75rem;
  }
}

/* quicklinks Nav */
.quicklinksNav {
  padding: 80px 0;
}

.quicklinksNav li {
  background: #f6e6a7;
  border: 2px solid #b2b2b2;
  margin: 0 0 15px 0;
}

.quicklinksNav li:nth-child(2) {
  background: #a7d8d3;
}
.quicklinksNav li:nth-child(3) {
  background: #f7c5d2;
}

.quicklinksNav li .details {
  background: rgb(255 255 255 / 40%);
  padding: 20px;
  color: #000;
  font-family: "GraebenbachMono Black";
  text-transform: uppercase !important;
  border-top: 2px solid #b2b2b2;
  font-size: 1.2rem;
}

.quicklinksNav li img {
  padding: 20px;
}

.quicklinksNav .secTitle {
  max-width: 85%;
  padding: 0 20px 30px 0;
}

@media (min-width: 600px) {
  .quicklinksNav ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quicklinksNav li {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 3 - 33px);
    flex-grow: 1;
  }

  .quicklinksNav li:nth-child(even) {
    margin: 0 20px 15px;
  }

  .quicklinksNav .secTitle {
    max-width: 70%;
    padding: 0 40px 30px 0;
  }
}

/* Footer */
footer {
  clear: both;
}
footer.tornPaper {
  background: var(--light-green);
  margin-top: -50px;
}

.page_edit footer.tornPaper,
.page_admin footer.tornPaper,
.page_messages footer.tornPaper,
.page_memberlist footer.tornPaper,
.page_editgroups footer.tornPaper,
.page_salesreports footer.tornPaper,
.page_editresources footer.tornPaper {
  margin-top: 110px;
}

footer a,
footer p,
footer i {
  color: white;
  text-decoration: none !important;
  margin-bottom: 8px;
}

footer i {
  margin-right: 10px;
}

footer .footerSecond {
  margin: 30px 0;
}

@media (min-width: 576px) {
  footer .footerSecond,
  footer .footerThird {
    margin: 30px 0;
  }
}

@media (min-width: 768px) {
  footer .footerSecond,
  footer .footerThird {
    margin: 0;
  }
}

/* Skip */
#skiptocontent a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: #bf1722;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 100;
}

#skiptocontent a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  outline-color: transparent;
  -webkit-transition: top 0.1s ease-in;
  transition: top 0.1s ease-in;
}

@media (prefers-reduced-motion: reduce) {
  #skiptocontent a {
    transition-duration: 0.001ms !important;
  }
}
#skip-link {
  position: relative;
}
#skip-link a {
  position: absolute !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0.625rem 1.563rem;
  color: #ffff;
  font-size: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -155rem;
  z-index: 9999;
  width: auto;
  background-color: #0d0d0d;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 20px 40px -10px rgb(26 26 26 / 20%);
  font-weight: bold;
}
#skip-link a:focus,
#skip-link a:hover {
  top: 0;
}

/* Landing no image */
.banner-container {
  padding: 50px 0px 0px;
}

.banner-container h1 {
  width: 80%;
  max-width: 800px;
}

.banner-container .msl-pagedescription {
  max-width: 1100px;
  color: white;
  font-size: calc(1.375rem + 0.5vw);
  font-weight: bold;
  padding: 0 0 0px 0;
}

#breadcrumb {
  margin-bottom: 15px;
  padding: 0;
}
#breadcrumb li {
  display: inline;
  margin: 0;
  padding: 0 2px;
  list-style: none;
  background: var(--magenta) !important;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  height: 20px;
}

#breadcrumb li a {
  color: white;
  text-decoration: none;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #fff;
  font-family: "font awesome 5 free";
  font-size: 0.9em;
  content: "\f105";
  font-weight: 900;
}

.sectionCards .moveUp {
  position: relative;
  z-index: 2;
  /*top: 200px;*/
}

.sectionCards li {
  margin: 25px 0;
}

.sectionCards li .details {
  padding: 30px 20px;
}
.sectionCards li .msl-imagenav-description {
  font-weight: bold;
  font-size: 1.2rem;
}

.sectionCards li .msl-imagenav-title {
  max-width: 80%;
  font-size: 1.5rem;
}

@media (min-width: 500px) {
  .sectionCards li {
    width: calc(100% / 2 - 32px);
    margin: 25px 15px;
  }
}

@media (min-width: 992px) {
  .banner-container {
    padding: 100px 0 0;
  }

  .sectionCards li {
    width: calc(100% / 2 - 62px);
    margin: 30px;
  }

  .sectionCards li .msl-imagenav-titl {
    font-size: 1.8rem;
  }
}

/* COntent */
.sectionContent {
  padding-bottom: 140px;
}

/* .sectionContent p {
  font-size: 1.2rem;
} */

/* Sidebar */

.g-subnav .grouping-logo img {
  display: block;
  margin: 0 auto;
}
.g-subnav .box {
  padding: 20px 20px;
  background-color: transparent;
  /*box-shadow: 0 0 15px rgb(0 0 0 / 10%);*/
  float: left;
  width: 100%;
  border: 2px solid var(--magenta);
  position: relative;
  margin: 5px 0 30px;
  transition: 0.3s;
}

.g-subnav .box a:hover,
.g-subnav .box a:hover:after {
  color: var(--magenta);
}

.g-subnav .box:empty {
  display: none;
}
.g-subnav .box > *:first-child,
.g-subnav .box > *:first-child h3 {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 100%;
  margin: -18px auto;
  line-height: 1;
  color: var(--magenta);
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--offwhite);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1rem;
  padding: 10px 15px !important;
  font-weight: bold !important;
}
.g-subnav .box h2,
.g-subnav .box h3 {
  margin: 0 0 5px;
  padding-top: 0;
  font-weight: normal;
  font-size: 22px;
  /* border-bottom: 2px solid #eee; */
  color: #333;
  font-weight: 600;
}
.g-subnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 85%;
}
.g-subnav li ul {
  margin: 0 0 10px;
  /* background: #fff; */
}
.g-subnav li li ul {
  margin: 5px 10px 15px;
}
.g-subnav li ul li {
  border-bottom: 0px solid #ccc;
  background: none;
}
.g-subnav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.g-subnav li li {
  margin-left: 10px;
}
.g-subnav li li li {
  list-style: circle;
}
.g-subnav a {
  display: block;
}
.g-subnav li a {
  padding: 10px 0;
  transition: 0.2s ease all;
  -web-transition: 0.2s ease all;
  color: #212529;
  position: relative;
  font-size: 1.2rem;
  background: none;
  font-weight: bold;
  /* text-transform: uppercase; */
}
.g-subnav li a:after {
  content: "\f105";
  font-family: FontAwesome;
  color: #333;
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  line-height: 1;
  text-align: center;
  right: -35px;
  border-radius: 50%;
  padding: 9px 10px 0 12px;
  height: 35px;
  width: 35px;
  border-radius: 35px;
}
.g-subnav li a:hover {
  text-decoration: none;
  color: #000;
}
.g-subnav li a:hover:after {
  background: var(--magenta);
  border-radius: 50%;
  color: #fff !important;
}
.g-subnav li a.current {
  color: #000;
}
/*Level 2 */

.g-subnav ul ul li a,
.g-subnav ul ul ul li a {
  padding: 5px;
}
.g-subnav ul ul li a:after,
.g-subnav ul ul ul li a:after {
  display: none;
}
.g-subnav li li a.current.msl-itemhassubnav {
  border-bottom: 1px dashed #ddd;
}
/*.g-subnav li li a.current:after {
	 right: 10px; 
}*/

.g-subnav li a.current + ul {
  margin-top: 1px;
  width: 100%;
  max-width: 96%;
}
.g-subnav [id="org-name"] {
  font-size: 16px;
  line-height: 1.5;
}
.g-subnav .grouping-contact {
  display: block;
  margin: 10px 0 0;
  font-size: 11px;
  padding: 10px 0 0;
}
.g-subnav p + .grouping-contact {
  border-top: 1px solid #ccc;
}
@media all and (min-width: 320px) {
  .g-subnav .grouping-contact {
    font-size: 12px;
  }
}
@media all and (min-width: 480px) {
  .g-subnav .grouping-contact {
    font-size: 14px;
  }
}
.g-subnav .grouping-contact > a {
  padding-left: 24px;
  word-wrap: break-word;
  display: block;
}
.g-subnav [id="root-link"] {
  display: none;
}
@media all and (min-width: 768px) {
  .g-subnav [id="root-link"] {
    display: block;
    padding: 10px 15px;
    background: #eee;
    color: #000;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    border-left: 5px solid #2ad2c9;
    margin-bottom: 10px;
  }
  .g-subnav [id="root-link"]:hover {
    background: #2ad2c9;
    text-decoration: none;
    color: #fff;
    border-left: 1px solid #ccc;
    letter-spacing: 0;
  }
}

/* ORG LIST */
#societies ul.msl_organisation_list {
  margin: 0;
}
#societies ul.msl_organisation_list li,
.squares-events .event_item .msl-groupedmemberlist {
  margin: 20px 0;
  box-shadow: 6px 7px 9px 0 rgb(0 0 0 / 5%);
  display: none;
  background: #fff;
  border-radius: 10px;
}

#societies ul.msl_organisation_list li:hover,
.squares-events .event_item:hover {
  background: var(--offwhite);
}

#societies ul.msl_organisation_list li:before,
#filters li:before,
#societies ul.msl_organisation_list li .msl-gl-attributes,
.squares-events .event_item .msl_event_description,
.squares-events .event_item .msl_event_hook,
.item .imageNav ul li:before {
  display: none;
}

#societies ul.msl_organisation_list li .msl-gl-link,
.squares-events .event_item .msl_event_name {
  font-family: "GraebenbachMono Black";
  text-transform: uppercase !important;
  display: block;
  font-size: 1.35rem;
  color: #000;
  padding: 8px 15px 7px 15px;
}

#societies ul.msl_organisation_list li .msl-gl-description,
.squares-events .event_item dd {
  padding: 0 15px 15px 15px;
  color: #000;
}

.squares-events .event_item .msl_event_time {
  color: var(--light-green);
  padding: 20px 15px 0 15px;
}

#societies ul.msl_organisation_list li img,
.squares-events .event_item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

#societies ul.msl_organisation_list li.show-item {
  display: inline-block !important;
}

.squares-events .event_item .msl_ticket {
  background: var(--magenta);
  padding: 7px 20px;
  color: white;
  border: 2px solid #000;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  border-radius: 0;
  box-shadow: 4px 4px black;
  margin-top: 20px;
  text-decoration: none;
}

.squares-events .event_item .msl_ticket:hover {
  background-color: var(--magenta) !important;
  color: black;
  box-shadow: 0px 0px var(--offwhite);
  transform: translateX(5px) translateY(2px);
}

@media all and (min-width: 450px) {
  #societies ul.msl_organisation_list,
  .squares-events .msl_eventlist .msl-groupedmemberlist > div {
    display: flex;
    flex-wrap: wrap;
  }

  #societies ul.msl_organisation_list li,
  .squares-events .event_item {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 20px;
    width: calc(100% / 2 - 20px);
    max-width: calc(100% / 2 - 20px);
    flex-grow: 1;
    background: #fff;
    border-radius: 8px;
    box-shadow: 6px 7px 9px 0 rgb(0 0 0 / 15%);
  }
}
@media all and (min-width: 768px) {
  #societies ul.msl_organisation_list li,
  .squares-events .event_item {
    width: calc(100% / 3 - 20px);
    max-width: calc(100% / 3 - 20px);
  }
}

@media all and (min-width: 992px) {
  #societies ul.msl_organisation_list li,
  .squares-events .event_item {
    width: calc(100% / 4 - 20px);
    max-width: calc(100% / 4 - 20px);
  }
}

/* @media all and (min-width: 1200px) {
  #societies ul.msl_organisation_list li {
    width: calc(100% / 5 - 20px);
    max-width: calc(100% / 2 - 20px);
  }
} */

/* Social icons */
[id="group-social"] {
  margin: 20px 0;
}
[id="group-social"] div {
  display: inline-block;
  margin: 0px 5px 0px 0;
  vertical-align: top;
}
[id="group-social"] a {
  text-indent: -5000px;
  position: relative;
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 50px;
  padding: 0;
  margin: 0;
  transition: 0.2s ease all;
  color: #fff;
  -webkit-transition: 0.2s ease all;
  border: 3px solid transparent;
}
[id="group-social"] a:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
[id="group-social"] a:before {
  text-indent: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  font-size: 18px;
}
.msl_facebook,
.msl_facebook:hover {
  background: #2f85e8;
}

.msl_facebook:before {
  content: "\f09a";
  font-family: FontAwesome;
}
.msl_youtube,
.msl_youtube:hover {
  background: #2f85e8;
}

.msl_youtube:before {
  content: "\f167";
  font-family: FontAwesome;
}

.msl_twitter,
.msl_twitter:hover {
  background: #46bbff;
}

.msl_twitter:before {
  content: "\f099";
  font-family: FontAwesome;
}

.msl_email,
.msl_email:hover {
  background: #c6093a;
}

.msl_email:before {
  content: "\f0e0";
  font-family: FontAwesome;
}

.msl_web,
.msl_web:hover {
  background: #337ab7;
}

[id="group-social"] .msl_web:before {
  content: "\f0ac";
  font-family: FontAwesome;
  font-size: 20px;
}

.msl_instagram {
  background: #46008c;
}

.msl_instagram:before {
  content: "\f16d";
  font-family: FontAwesome;
}

.badge:not(.quantity) {
  margin: 3px;
  clear: both;
  /* border: 1px solid #ccc; */
  padding: 10px 10px 0px 10px;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  /* color: #f3f3f4; */
  text-align: left;
  white-space: normal;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background: #00c7b2;
  width: 150px;
  height: 100px;
  box-shadow: 6px 7px 9px 0 rgb(0 0 0 / 15%);
  border-radius: 8px;
}

.badge {
  /* margin: 0; */
  clear: both;
  /* border: 1px solid #ccc; */
  padding: 5px;
}

.badge:hover {
  background: #33d2c1;
}
/* .badge_friend {
} */
.badge_tools {
  width: inherit;
  padding: 4px;
  float: inherit;
}
.badge_avatar {
  border: 1px solid #ccc;
  margin-bottom: 4px;
}
.badge_tools ul {
  display: block;
}
.badge_tools li {
  display: inline;
}
a.addfriend {
  display: block;
}
.badge dl {
  margin: 0;
  padding: 4px;
}
.badge dt {
  font-weight: bold;
}
/* .badge dd {
} */
.highlight {
  background: #fcc;
}

.msl_badge_add_friend {
  padding: 0 0 0 18px;
  display: inline-block;
  min-height: 16px;
  background: transparent url(../images/icons/16/user1_add.gif) no-repeat 0 0;
}

.msl_badge_delete_friend {
  padding: 0 0 0 18px;
  display: inline-block;
  min-height: 16px;
  background: transparent url(../images/icons/16/user1_delete.png) no-repeat 0 0;
}

.msl_badge_view_friends {
  padding: 0 0 0 18px;
  display: inline-block;
  min-height: 16px;
  background: transparent url(../images/icons/16/users1.gif) no-repeat 0 0;
}

.msl_badge_view_photos {
  padding: 0 0 0 18px;
  display: inline-block;
  min-height: 16px;
  background: transparent url(../images/icons/16/photo_scenery.gif) no-repeat 0
    0;
}

/* 

GREEN BUTTON

This section defines the appearance of the 'Green Button' design pattern.

This is used in places like:
- Trustee Board members and papers
- Sabbatical Officer blogs and pledges

*/

/* Wrap a div with this class around all of the items */
.green_button_section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

/* Wrap a div with this class around each individual item */
.green_button {
  width: 150px;
  margin: 0 5px 10px;
  position: relative;
  background: #00c7b2;
  box-shadow: 6px 7px 9px 0 rgb(0 0 0 / 15%);
  border-radius: 8px;
}

/* These style any regular text within the item */
.green_button p {
  padding: 10px 10px 0px 10px;
  text-align: center;
}

.green_button h2 {
  font-size: 18px;
  color: #fff;
  padding: 10px 10px 0px 10px;
  word-break: break-word;
}

.green_button h6 {
  font-size: 14px;
  color: #fff;
  padding: 10px 10px 0px 10px;
  word-break: break-word;
}

/* This styles links within the item */
.green_button a {
  color: #f3f3f4;
}

/* This styles imgs within the item
.green_button img {
  width: 100%;
  padding: 10px 10px 0 10px;
  border-radius: 8px;
} */

.green_button img {
  height: 130px;
  width: 130px;
  padding: 10px 10px 0 10px;
  border-radius: 8px;
}

.green_button:hover {
  background: #33d2c1;
}

/*
Grouped member list experiments
*/

.msl-groupedmemberlist ul {
  list-style: none;
  display: inline-flex;
  padding-left: 0rem;
}

.msl-groupedmemberlist li {
  position: relative;
}

.msl-groupedmemberlist .badge_tools ul {
  bottom: 10px;
  display: block;
  left: 120px;
  position: absolute;
}

.msl-groupedmemberlist a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "GraebenbachMono Black";
  color: #fff;
  font-size: 18px;
}

.msl-groupedmemberlist h4 {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "GraebenbachMono Black";
  color: #000;
  font-size: 18px;
}

.msl-groupedmemberlist img {
  display: none;
}

.msl-groupedmemberlist .badge dl {
  margin-bottom: 0px;
}

.msl-groupedmemberlist .memberitem {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 10px 10px 0;
  flex: 0 0 150px;
  position: relative;
}
