/* 

This document defines the appearance of links to external resources, such as the link on the 
Governing Documents page to the Articles of Association.

*/
.docs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.item {
  width: 150px;
  margin: 0 5px 10px;
  position: relative;
  background: #00c7b2;
  box-shadow: 6px 7px 9px 0 rgb(0 0 0 / 15%);
  border-radius: 8px;
}


.item p {
  padding: 10px 10px 0px 10px;
  text-align: center
}
.item a {
  color: #f3f3f4;
}

.item img {
  width: 100%;
  padding: 10px 10px 0 10px;
}
    